@charset "utf-8";

body{font-family: 'IBM Plex Sans KR', sans-serif;}

.section{width: 1120px;margin: 0 auto;}
/* 중간 1 */
.section .con01{display: flex;justify-content: space-between;}
.section img{margin-bottom: 10px;}
.section .box01 h5{font-size: 14px;color: #666;}
.section .box01 h2{font-size: 20px;}

.section .box02 h5{font-size: 14px;color: #666;}
.section .box02 h2{font-size: 20px;margin-bottom: 100px;}

/* 중간 2 */
.con02 .tWrap03{position: relative;}
.con02 .tWrap03>h1{
    font-size: 90px;line-height: 70px;position: absolute;
    top: 50%;transform: translateY(-50%);left: 50px;
}
.con02 .tWrap03 .logo{
    position: absolute;z-index: 1;opacity: 0.5;
    left: 50%;top: 50%; transform: translate(-50%,-50%);
    cursor: pointer;
}
.con02 .tWrap03 .logo:hover{opacity: 1;}


.con02 .number{width: 80px; display: flex;justify-content: space-around;}
.con02 .number h6,
.con02 .number p{font-size: 20px;font-weight: bold;cursor: pointer;margin-bottom: 10px;}
.con02 h6{color:#999;}
.con02 p{color:#29cb7e}

.con02 .textWrap{
    display: flex;justify-content: space-around;align-items: center;
    margin-bottom: 100px;
}
.section .con02 .textWrap>h1{font-size: 44px;line-height: 60px;width: 425px;}
.con02 .textWrap h3{font-size: 18px;width: 645px;line-height: 28px;color:#626262}

/* 중간 3 */
.con03{display: flex;justify-content: space-between;margin-bottom: 100px;}
.con03 .box5 img{width: 265px;height: 400px;}
.con03 h5{color: #999;}
